body {
  .active {
    color: red;
  }
}
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
nav {
  background: linear-gradient(to right, #ec2f4b, #009fff);
  position: fixed !important;
  z-index: 11 !important;
  width: 100% !important;
  top: 0;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

a {
  cursor: pointer;
}
.header {
  min-height: calc(100vh);
  padding-top: 56px;
  background: #009fff;
  background: linear-gradient(to right, #ec2f4b, #009fff);
  color: white;
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-container {
  padding-top: 56px;
}
.search {
  padding-top: 56px;
}
.alert {
  z-index: 999;
  position: absolute;
  right: 20px;
}
.details {
  text-align: center;
}

.profile-pic {
  height: 11rem;
  width: 11rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid #fff;
}

.location p {
  display: inline-block;
}

.location svg {
  vertical-align: middle;
}

.stats {
  display: flex;
}

.stats .col-4 {
  width: 10rem;
  text-align: center;
}

.heading {
  font-weight: 400;
  font-size: 1.6rem;
  margin: 1rem 0;
}
[data-toggle="collapse"] {
  cursor: pointer;
}
[data-toggle="collapse"][aria-expanded="true"] .fa-chevron-right:before {
  content: "";
}
.badge {
  color: black !important;
}
